{% extends "index.html" %}
{% block content %}
<style>
    .description{
        font-family: "Arial";
        margin: 15px 50px;

        text-align: justify;
    }
    .description h2{
        text-align: center;

    }
</style>
<div class="description">
<a href="/"><button class="btn btn-outline-primary btn-lg hid_but">Вернуться на главную</button></a>
    <p><h2>Назначение программы</h2></p>

<p>Программа «ChemiAnalysis 1.0» является дополнением к Изделию «Хемилюминесцентный сенсор». Программа позволяет провести обработку хемилюминесцентного изображение и представить результат в виде двумерного графика с профилями интенсивности хемилюминесценции референтного образца (Канал 1) и исследуемого образца (Канал 2). Функциональной особенностью программы является проведение быстрого и точного анализа на наличие избыточной концентрации активных форм кислорода в исследуемой биологической пробе. Программа является клиент-серверным приложением, которое расположено на веб-сервере и контролируется с помощью операционной системы на базе Linux.</p>

<p>    <h2>Область применения программы</h2></p>

<p>ПО предназначено для применения в аналитических, научно-исследовательских и лабораторно-диагностических центрах, проводящих исследования и мониторинг образцов с избыточной концентрации активных форм кислорода (АФК) при социально-значимых заболеваниях.</p>
</div>

{% endblock %}