


{% extends "index.html" %}
{% block content %}


    <style type="text/css">


        .form {
            text-align: center;
            font-size:0.9em;
            margin-top: 45px;

        }
        .form label {
            font-size: 1.3em;
            font-weight: bolder;

        }
        .fake_button {
            background-color: #ee8c46;
            margin-left: 3px;

        }
        .fake_button:hover {
            background-color: #f56c0f;
            box-shadow: 0 12px 16px 0 rgba(210, 210, 210, 0.24), 0 17px 50px 0 rgba(152, 152, 152, 0.19);
        }
        .button_submit {
            background-color: #4684ee;
            border-radius: 8px;
            font-size: 1.5em;
            text-align: center;
            padding: 15px 25px;
            height: 70px;
            width: 20%;
            color: #f3f0ed;
        }

        .button_submit:hover {
            background-color: #0f35f5;
            box-shadow: 0 15px 16px 0 rgba(210, 210, 210, 0.24), 0 17px 50px 0 rgba(152, 152, 152, 0.19);
        }

        .str_field {
                width: 25%;
                position: static;
              padding: 15px 25px;
                font-size: 1.3em;
            border-radius: 5px;
            margin: 17px;
            margin-bottom: 27px;


        }

        .custom-file-upload {
            position: relative;
            "margin-left: -95px;"
            z-index: 1;
            height: 30px;
            cursor: pointer;
            display:none;

        }

    </style>

</head>



<div style="text-align: center;" class="hide_it">
    <button class="btn btn-outline-primary btn-lg hid_but">Начать</button>
<p></p>
        <img width="60%" src="{{ url_for('static',filename='image/1P675dioz3Y.jpg')}}">
</div>

<div class="show_it" style="display: none;">
<p>
    <form action="" method="post" class="form" enctype="multipart/form-data">
     {% for form in forms %}
        {{ form.hidden_tag() }}

         <div class="hid_obj_{{ loop.index }}" style="display: none;">
            <label> Название образца: </label>
                {{ form.samplename(class_='str_field %s'%(loop.index), id='name_%s'%(loop.index), value='Номер %s'%(loop.index)) }}
            <label for="upl {{ loop.index }}" class="btn btn-warning btn-lg {{ loop.index }}" id="fake_button{{ loop.index }}">Загрузить Файл</label>{{ form.filename(class_='custom-file-upload', id='upl %s' %(loop.index))}}
            <div class="hid_but_{{ loop.index }}" style="display: none; margin-bottom: 10px;">
             <button type="button" class="btn btn-outline-secondary">Добавить образец</button>
            </div>
         </div>
        <script>
            $('#fake_button{{ loop.index }}').click(function(){
                $('.hid_but_{{ loop.index }}').fadeIn();
                $( "label.btn.{{ loop.index }}" ).html('Файл {{ loop.index }} добавлен');
        });
            $('#name_{{ loop.index }}').click(function(){
                $( "input.str_field.{{ loop.index }}" ).val('');
        });
            $('.hid_but_{{ loop.index }}').click(function(){
             $('.hid_obj_{{ loop.index + 1 }}').fadeIn();
             $('.hid_but_{{ loop.index }}').fadeOut();
        });
        </script>

     {% endfor %}
        <p><button id="submit" name="submit" type="submit" class="btn btn-primary btn-lg button_submit" >Запустить</button></p>
    </form>
</p>


</div>

<script>
    $('#submit').click(function(){
        $( "button.button_submit" ).html('Загрузка....');
});

$('.hid_but').click(function(){
    $('.hide_it').slideUp();
    $('.show_it').fadeIn();
    $('.hid_obj_1').fadeIn();
});


var strGET = window.location.search.replace( '?', '');

if (strGET=='back') {
    $('.hide_it').hide();
    $('.show_it').fadeIn();
    $('.hid_obj_1').fadeIn();
}

</script>





{% endblock %}