{% extends "index.html" %}
{% block content %}
<style>
    .description{
        font-family: "Arial";
        width: 90%;
        margin: 15px 30px;
        font-size: 2.5vh;
        text-align: justify;
    }
    .description h2{
        text-align: center;
        font-size: 3vh;
        font-weight:bold;

    }
</style>
<div class="description col-12 pl-md-5 col-xs-6 bd-content">
<a href="/"><button class="btn btn-outline-primary btn-lg hid_but">Вернуться на главную</button></a>
    <p><h2>Инструкция по использованию</h2></p>

    <p>Существует два режима работы веб-приложения совместно с сенсорным устройством: первый вариант заключается в исследовании единственного образца сразу, во втором – в фотографировании нескольких образцов и работе по исследованию с ними после.</p>
    <p>По итогу будет показан график профиля интенсивности образцов, а ниже будет дана таблица с ответом соответствует ли образцы измерения определённым количеством вещества </p>

<p>
    <h2>Изучение одного образца</h2>
    <ul>
        <li>Со смартфона зайти на главную страницу веб-приложения и нажать кнопку «Начать»</li>
        <li>Подготовить прибор, положить смартфон в специальную подставку и включить поток для исследуемой жидкости</li>
        <li>На смарфтоне нажать на кнопку "Загрузить файл" и выбрать фотоаппарат</li>
        <li>Сфотографировать образец и загрузить выбранную фотографию</li>
        <li>Можно добавить дополнительные образцы</li>
        <li>Нажать кнопку «Запустить» и дождать загрузки страницы</li>
    </ul>
</p>
<p></p>
<p>
    <h2>Изучение нескольких образцов</h2>
    <ul>
        <li>Подготовить прибор, положить смартфон в специальную подставку, запустить камеру и включить поток для исследуемой жидкости</li>
        <li>Сфотографировать светящийся образец</li>
        <li>Повторить шаги сверху для нового образца</li>
        <p></p>
        <li>Далее со смартфона зайти на главную страницу веб-приложения и нажать кнопку «Начать»</li>
        <li>На смарфтоне нажать на кнопку "Загрузить файл" и выбрать фотографию первого образца, дать ему название</li>
        <li>Для добавление нового образца нажать кнопку "Добавить образец" и повторить предыдущий шаг по загрузке</li>
        <i>Загрузить можно только 5 образцов</i>
        <p></p>
        <li>Нажать кнопку «Запустить» и дождать загрузки страницы</li>
    </ul>
</p>
<p></p>
</div>

{% endblock %}